@CHARSET "UTF-8";
list{
	margin: 0;
    padding: 0;
}
.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6600;
}
 
.list li {
    float: left;
}
 
.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 

.list li a:hover {
    background-color: #111;
}
.box{
	wdith:100%;
	height:400px;
	background-color:#336699;	
}
.box0{
	height:1000px;
	width:950px;
	background-color: #FFFFFF;	
	position: absolute;
	left:25%;
	top:17%;
		border-style: outset;
}
.box1{

	position: absolute;
	left:5%;
	top:5%;
	height:500px;
	width:320px;
	border-radius: 25px;
	box-shadow: 0 0 3px #000;
}
.box11{
	position: absolute;
	left:3%;
	top:5%;
	height:500px;
	width:300px;
	
}
.box11 img{width: 100%;
    height: 80%;
    border-radius: 15px;
   
    }
    .box2{
    height:562px;
	width:550px;
	 
    position: absolute;
	left:40%;
	top:5%;
    }
    .box2 h1 {font-weight:bold;
    }
    .box2 p{color:#FFFFFF;
    background-color:#303030;
    }
   
    .xx{width:100%;height:0;
border-bottom:#000000 1px dashed;
}
list1{
	margin: 0;
    padding: 0;
}
.list1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #336699;
}
 
.list1 li {
    float: left;
}
 
.list1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 

.list1 li a:hover {
    background-color:#33CCFF;
}
.gs{
	margin-top:10px;
	font-size:20px;
	font-weight:bold;
}
.loginto_to{
      position: absolute;
	left:10%;
	top:82%;
      width: 250px;
      height: 46px;
      font-size: 20px;
      font-family: "Microsoft YaHei";
      border-radius: 80px;
      border: none;
      background-color: #FF6600;
    }
    .login_check_label {
        margin-left: 10px;
        font-family: "Microsoft yahei";
        font-size: 14px;
        color: #999999;
        line-height: 14px;
    }
   .loginto_to:hover{
      background-color: #FF9966;
    }
    .jz{
    border-style: outset;
    position: absolute;
	left:5%;
	top:60%;
	height:185px;
	width:850px;
	display: flex;
		flex-direction: row; 
		justify-content: space-around; 
		flex-wrap: wrap;
		align-content:center;
		position: relative;
    }
    .jz1{ height:180px;
	width:180px;   }
    .jz1 img{
    width: 100%;
    height: 100%;
    }