@CHARSET "UTF-8";

list{
	margin: 0;
    padding: 0;
}
.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6600;
}
 
.list li {
    float: left;
}
 
.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 

.list li a:hover {
    background-color: #111;
}

#container {
	width:500px;
	height:820px;
	margin:0 auto;
}
div.search {
	padding:10px 0;
}
form {
	position:relative;
	width:300px;
	margin:0 auto;
}
input,button {
	border:none;
	outline:none;
}
input {
	width:100%;
	height:42px;
	padding-left:13px;
}
button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
}
   .bar8 form {
   
	height:42px;
}
.bar8 input {
	width:0;
	padding:0 42px 0 15px;
	border-bottom:2px solid transparent;
	background:transparent;
	transition:.3s linear;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	color:#FFFFFF;
	font-size:25px;
	
}
.bar8 input:focus {
	width:300px;
	z-index:1;
	border-bottom:2px solid #F9F0DA;
	
}
.bar8 button {
	background:#683B4D;
	top:0;
	right:0;
}
.bar8 button:before {
	content:"Go";
	font-family:FontAwesome;
	font-size:25px;
	color:#F9F0DA;
	
}
   
   body {
	margin:0;
	padding:0;
	font-weight:500;
	font-family:"Microsoft YaHei","宋体","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif,FreeSans,Arimo;
} 
.box{
	height:1200px;
	width:1400px;
	background-color: #FFFFFF;
	margin:auto;
	
		
}
.box0{ height:1100px;
	width:1200px;
	background-color: #FFFFFF;
	margin:auto;
	display: flex;
		flex-direction: row; 
		justify-content: space-around; 
		flex-wrap: wrap;
		align-content:center;
		position: relative;}
		
.box h1{    color:#000000;}
.box1{
	height:400px;
	width:300px;
	margin:20px 20px;
		
}
.box1 img{width: 100%;
    height: 100%;
    }
     .box2{
  border-style:solid;
  height:40px;
width:400px;
position:absolute;
	top:90%;
	right:60%;
  }
  
